.main-body
  position absolute
  left 180px
  top 80px
  right 0
  bottom 30px
  z-index 998
  width auto
  padding 15px
  box-sizing border-box

.searchbar
  padding 0 18px

  .el-form-item__content
    margin-right 10px

  .normal-input .el-input__inner
    width 136px

.el-date-editor--daterange.el-input__inner
  width 328px

.el-date-editor .el-range-input
  width 120px

