html, body,
div, p, h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
span, img,
b, i, em
  margin 0
  padding 0
  outline 0
  font-size 100%
  vertical-align baseline
  background transparent

html, body
  width 100%
  height 100%
  -webkit-font-smoothing antialiased
  font-family "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif

ul
  list-style none

form
  display block

table
  display table
  border-collapse collapse
  border-spacing 0

thead
  display table-header-group
  vertical-align middle
  border-color inherit

th, td
  display table-cell
  vertical-align inherit

a
  text-decoration none

.fade-enter-active, .fade-leave-active
  transition opacity .3s ease

.fade-enter, .fade-leave-to
  opacity 0
